*{padding: 0;
    margin: 0;}
    .sik{
        background: linear-gradient(rgba(0, 0, 0, 0.705),rgba(0, 0, 0, 0.438)),url(.//77.jpg) no-repeat fixed;
        width: 100%;
        height: 50vh;
    }
    .sik h2{
        color: white;
        text-align: center;
        position: relative;
        top:5em;
    }
  
    .plasik{
        width: 100%;
        height: 200vh;
    }
  
    .semester11{
        color: black;
        position: relative;
        top: 4em;
    left: 3em;
    border-bottom: solid 3px black;
    width: 140px;
    }
    
    
    .semester1{
        position: relative;
        top: 8em;
        left: 5em;
    }
    .semester22{
        color: black;
        position: relative;
        top: 10em;
    left: 3em;
    border-bottom: solid 3px black;
    width: 140px;
    }
    .semester2{
        position: relative;
        top: 15em;
        left: 5em;
    }
   
    .semester33{
        color: black;
        position: relative;
        top: 18em;
    left: 3em;
    border-bottom: solid 3px black;
    width: 140px;
    }
    .semester3{
        position: relative;
        top: 23em;
        left: 5em;
    }
    .semester44{
        color: black;
        position: relative;
        top: 20em;
    left: 3em;
    border-bottom: solid 3px black;
    width: 140px;
    }
    .semester4{
        position: relative;
        top: 25em;
        left: 5em;
    }